@model IEnumerable<CCiezkiCapstone.Models.InventoryModel>

@{
    ViewBag.Title = "Your Inventory";
    
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<center>
    <h2>SBO Inventory Tracker</h2>

    <p>
        @Html.ActionLink("Create New Inventory Item", "Create")
    </p>
    <p>
        Find the best products here:
        <a href="http://www.jondon.com/">http://www.jondon.com/</a>
    </p>
</center>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.warningLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refillLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.warningLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.refillLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
